.header {
  background-color: #0c0b0e;
  display: flex;
  padding-inline: 3.2em;
  height: 10em;
  align-items: center;

  &--logo {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      color: var(--text);
      text-decoration-line: none;
    }
  }
}
