.container {
  height: calc(100vh - 10em);
  background-image: url("/images/hero-image.jpg");
  background-size: cover;
  background-position: center;

  &--heading-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    backdrop-filter: grayscale(1);
    -webkit-backdrop-filter: grayscale(1);

    &--heading {
      font-size: 4.6rem;
      color: #fff;
      text-shadow: 1px 1px 2px black, 0 0 1em #acc8e5, 0 0 0.2em #acc8e5;
    }
  }
}
