.container {
  padding: 5rem clamp(5rem, 10vw, 15rem);

  &--picture {
    margin: 3rem auto;
  }

  &--heading {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  &--content {
    font-size: 2rem;
    line-height: 1.5;
  }
}
